body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/cinema-font.jpg') no-repeat;
}

.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  width: 100%;
  position: fixed;
  z-index: 30;
  font-size: 2.5rem;

  text-align: center;
}  

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 70px 0 20px 0;
}

a {
  color: inherit;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: auto auto;
  gap: 1.5rem;
}

label {
  margin-right: 2rem;
}

.input-field .prefix {
  right: 0;
  text-align: right;

  cursor:pointer;
}

.input-field .prefix:hover {
  color: blueviolet;
}

.input-field .prefix ~ input {
  margin-left:0;
  width: 100%;
  padding-left:10px;
}

.totalResults, .ranges {
  padding: 10px;
}

.movie {
  display: flex;
  flex-direction: column;
}

.card-image {
  text-align:center;
  flex-grow: 1;
  width:100%;
}

.card-content {
  position: relative;
  width: 100%;
}

.card .card-content {
  padding:14px;
}

.card .card-action {
  padding-left: 14px;
  padding-right: 14px;
}

.card-title {
  padding-top: 3rem;
}

.year-type {
  padding-top: 1rem;
}

.movie-info {
  color: rgb(138,43,226);
}

.movie-info:hover {
  color: rgb(183, 117, 245);
}

.pagination { 
  margin-bottom: 20px;
  padding-left: 0px;

  background-color: white;  
  box-shadow: none;

  background: none;
}

.pagination li {
  height: auto;
}

nav ul li {
  transition: none;
}

.info {
  margin: 2rem 0 3rem 0;
  display:flex;
  align-items: flex-start;
}

.movieTitle {
  font-size: 30px;
  font-weight: bold;
  vertical-align:top;
  margin-bottom: 2rem;
}

.about-movie {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.plot {
  margin-bottom: 2rem;
  max-width: 80%;
  font-size: 18px;
  font-style:oblique;
}

.goBack {
  cursor: pointer;
  margin-top: 1rem;
  font-size: 40px;
  color: blueviolet;
  padding: 5px;
  border-radius: 30px;
  background-color: #c9abd3;
}

.goBack:hover {
  opacity: 60%;
}

table {
  font-family: arial;
  font-size: 16px;
  width:90%;
}

tr {
  border-bottom: none;
}

td {
  padding-right: 2rem;
}

.td-title {
  color: rgb(106, 106, 110);
  width: 130px;
}

.home-page {
  color:blueviolet;
}

.home-page:hover {
  opacity: 70%;
}

@media (max-width: 768px) {
  h3 {
    font-size: 30px;
  }
  h5 {
    font-size: 20px;
  }

  .info {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-movie {
    width: 100%;
    margin:auto;
  }
  
}

@media (max-width: 570px) {
  .pagination {
    margin-bottom: 60px;
  }
}  

